{% extends "layoutadmin.html" %}

{% block content %}
<center>
<div class="sidenav" style="margin-top: 3%;">
        <div class="login-main-text">
            <h2>Add New room</h2>
         </div> 
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form action="{{url_for('newhotel')}}" method="post">
             <div class="form-group">
                <label>Tipe Kamar</label>
                <input name="name" type="text" class="form-control" placeholder="Tipe Kamar Hotel">
             </div>
             <div class="form-group">
                <label>Harga</label>
                <input name="price" type="text" class="form-control" placeholder="Harga Kamar">
             </div>
             <div class="form-group">
                <label>Room ID</label>
                <input name="stock" type="text" class="form-control" placeholder="Jumlah Kamar">
             </div>
             <button type="submit" class="btn btn-secondary">Add New hotel</button>
          </form>
       </div>
    </div>
 </div>
 </center>
{% endblock %}