{% extends "layout.html" %}

{% block content %}
<center>
    <div class="sidenav" style="margin-top: 3%;">
        <div class="login-main-text">
            <h2>Register now!</h2>
         </div> 
    </div>
    <div>    
        {% if msg != "" %}
            <h1>{{msg}}</h1>
        {% endif %}
        <h1>{{data.name}}</h1>
        <h3>Price: Rp.{{data.price}}/per Night</h3>
        <h3>Available: {{data.stock}}</h3>
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form action="{{url_for('room', id=data.roomID)}}" method="post">
             <div class="form-group">
                <label>From : </label>
                <input name="date_from" type="date" class="form-control" placeholder="">
             </div>
             <div class="form-group">
                <label>To : </label>
                <input name="date_to" type="date" class="form-control" placeholder="">
             </div>
             <div class="form-group">
                <label>Room Amount: </label>
                <input name="room_amount" type="number" class="form-control" placeholder="Room">
             </div>
             <button type="submit" class="btn btn-secondary">Book Now.</button>
          </form>
       </div>
    </div>
 </div>
</center>

{% endblock %}


