{% extends "layoutadmin.html" %}

{% block content %}
<center>
<div class="sidenav" style="margin-top: 3%;">
        <div class="login-main-text">
            <h2>Update Hotel data</h2>
            <h1>I think disini perlu untuk milih dulu dari list hotel?</h1>
         </div> 
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label>Nama Hotel</label>
                <input type="text" class="form-control" placeholder="namahotel">
             </div>
             <div class="form-group">
                <label>Tipe Kamar</label>
                <input type="text" class="form-control" placeholder="tipekamar">
             </div>
             <div class="form-group">
                <label>Room ID</label>
                <input type="text" class="form-control" placeholder="roomid">
             </div>
             <div class="form-group">
                <label>Jumlah Kamar</label>
                <input type="text" class="form-control" placeholder="jumlahkamar">
             </div>
             <div class="form-group">
                <label>Harga</label>
                <input type="text" class="form-control" placeholder="harga">
             </div>
             <button type="submit" class="btn btn-secondary"><a href="#">Update Hotel</a></button>
          </form>
       </div>
    </div>
 </div>
 </center>
{% endblock %}